<p id="notice"><%= notice %></p>

<p>
  <strong>Car Id:</strong>
  <%= @rental.car_id %>
</p>

<p>
  <strong>Customer id:</strong>
  <%= @rental.customer_id %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @rental.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @rental.end_date %>
</p>

<p>
  <strong>Status:</strong>
  <%= @rental.status %>
  <%= @time_diff%>
</p>

